# Import Packages

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Read CSV

In [2]:
df1 = pd.read_csv("SDG_Feb2024_ (1).csv")

In [20]:
df2 = pd.read_csv("SDG_Feb2024_ (2).csv")

In [32]:
df3 = pd.read_csv("SDG_Feb2024_ (3).csv")

In [41]:
df4 = pd.read_csv("SDG_Feb2024_ (4).csv")

In [42]:
df5 = pd.read_csv("SDG_Feb2024_ (5).csv")

In [77]:
df6 = pd.read_csv("SDG_Feb2024_ (6).csv")

In [78]:
df7 = pd.read_csv("SDG_Feb2024_ (7).csv")

In [45]:
df8 = pd.read_csv("SDG_Feb2024_.csv")

In [46]:
df9 = pd.read_csv("SDG_Feb2024_Education 2030 FFA.csv")

### Percentage of total aid to education allocated to least developed countries (%)

In [3]:
df1.head()

,Region,Country,Target,Indicator Number,Indicator Name,Year,Value,Metadata
0,SDG: Europe and Northern America,Denmark,4.5,4.5.5,Percentage of total aid to education allocated...,2010,50.08,SOURCE: Development Assistance Committee (DAC)...
1,SDG: Europe and Northern America,Germany,4.5,4.5.5,Percentage of total aid to education allocated...,2010,14.88,SOURCE: Development Assistance Committee (DAC)...
2,SDG: Europe and Northern America,Greece,4.5,4.5.5,Percentage of total aid to education allocated...,2010,4.66,SOURCE: Development Assistance Committee (DAC)...
3,SDG: Europe and Northern America,Ireland,4.5,4.5.5,Percentage of total aid to education allocated...,2010,66.49,SOURCE: Development Assistance Committee (DAC)...
4,SDG: Europe and Northern America,Sweden,4.5,4.5.5,Percentage of total aid to education allocated...,2010,42.29,SOURCE: Development Assistance Committee (DAC)...

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 451 entries, 0 to 450
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Region            451 non-null    object
 1   Country           451 non-null    object
 2   Target            451 non-null    float64
 3   Indicator Number  451 non-null    object
 4   Indicator Name    451 non-null    object
 5   Year              451 non-null    int64
 6   Value             451 non-null    float64
 7   Metadata          451 non-null    object
dtypes: float64(2), int64(1), object(5)
memory usage: 28.3+ KB

In [5]:
df1.columns

Index(['Region', 'Country', 'Target', 'Indicator Number', 'Indicator Name',
       'Year', 'Value', 'Metadata'],
      dtype='object')

In [6]:
df1['Target'].value_counts()

4.5    451
Name: Target, dtype: int64

In [7]:
df1['Indicator Name'].unique()

array(['Percentage of total aid to education allocated to least developed countries (%)'],
      dtype=object)

In [11]:
df1['Metadata'].unique()

array(['SOURCE: Development Assistance Committee (DAC) of Organisation for Economic Co-operation and Development (OECD)'],
      dtype=object)

In [9]:
# change name of value column

df1['Percentage of total aid to education allocated to least developed countries (%)'] = df1['Value']

In [10]:
df1.head(1)

,Region,Country,Target,Indicator Number,Indicator Name,Year,Value,Metadata,Percentage of total aid to education allocated to least developed countries (%)
0,SDG: Europe and Northern America,Denmark,4.5,4.5.5,Percentage of total aid to education allocated...,2010,50.08,SOURCE: Development Assistance Committee (DAC)...,50.08

In [12]:
# drop irrelevant columns

df1.drop(columns=['Value', 'Target', 'Region', 'Indicator Number', 'Indicator Name', 'Metadata'], inplace=True)

In [13]:
df1.head()

,Country,Year,Percentage of total aid to education allocated to least developed countries (%)
0,Denmark,2010,50.08
1,Germany,2010,14.88
2,Greece,2010,4.66
3,Ireland,2010,66.49
4,Sweden,2010,42.29

In [31]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 451 entries, 0 to 450
Data columns (total 3 columns):
 #   Column                                                                           Non-Null Count  Dtype
---  ------                                                                           --------------  -----
 0   Country                                                                          451 non-null    object
 1   Year                                                                             451 non-null    int64
 2   Percentage of total aid to education allocated to least developed countries (%)  451 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 10.7+ KB

In [18]:
least_developed_countries = df1['Country'].unique()

In [19]:
least_developed_countries

array(['Denmark', 'Germany', 'Greece', 'Ireland', 'Sweden', 'Austria',
       'United States of America', 'Netherlands', 'Portugal', 'Slovenia',
       'New Zealand',
       'United Kingdom of Great Britain and Northern Ireland', 'Belgium',
       'United Arab Emirates', 'Republic of Korea', 'Finland', 'Italy',
       'Japan', 'Canada', 'Norway', 'Switzerland', 'Spain', 'Luxembourg',
       'France', 'Australia', 'Czechia', 'Iceland', 'Kuwait', 'Poland',
       'Slovakia', 'Estonia', 'Romania', 'Hungary', 'Kazakhstan',
       'Saudi Arabia', 'Latvia', 'Lithuania', 'Croatia', 'TÃ¼rkiye',
       'Qatar', 'Liechtenstein', 'Malta', 'Israel', 'Thailand',
       'Bulgaria'], dtype=object)

### Initial government expenditure on education as a percentage of GDP (%)

In [21]:
df2.head()

,Region,Country,Target,Indicator Number,Indicator Name,Year,Value,Metadata
0,SDG: Latin America and the Caribbean,Guyana,4.5,4.5.6,Initial government expenditure on education as...,2010,2.37,SOURCE: UIS/UOE data
1,SDG: Central and Southern Asia,Iran (Islamic Republic of),4.5,4.5.6,Initial government expenditure on education as...,2010,3.71,SOURCE: UIS/UOE data; int'l transfers subtract...
2,SDG: Sub-Saharan Africa,Niger,4.5,4.5.6,Initial government expenditure on education as...,2010,2.72,SOURCE: UIS/UOE data
3,SDG: Sub-Saharan Africa,Uganda,4.5,4.5.6,Initial government expenditure on education as...,2010,1.73,SOURCE: UIS/UOE data
4,SDG: Eastern and South-Eastern Asia,Brunei Darussalam,4.5,4.5.6,Initial government expenditure on education as...,2010,2.05,SOURCE: UIS/UOE data

In [22]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1346 entries, 0 to 1345
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Region            1346 non-null   object
 1   Country           1346 non-null   object
 2   Target            1346 non-null   float64
 3   Indicator Number  1346 non-null   object
 4   Indicator Name    1346 non-null   object
 5   Year              1346 non-null   int64
 6   Value             1346 non-null   float64
 7   Metadata          1271 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 84.3+ KB

In [23]:
df2.columns

Index(['Region', 'Country', 'Target', 'Indicator Number', 'Indicator Name',
       'Year', 'Value', 'Metadata'],
      dtype='object')

In [24]:
df2['Indicator Name'].unique()

array(['Initial government expenditure on education as a percentage of GDP (%)'],
      dtype=object)

In [25]:
# change name of value column

df2['Initial government expenditure on education as a percentage of GDP (%)'] = df2['Value']

In [26]:
df2.head(1)

,Region,Country,Target,Indicator Number,Indicator Name,Year,Value,Metadata,Initial government expenditure on education as a percentage of GDP (%)
0,SDG: Latin America and the Caribbean,Guyana,4.5,4.5.6,Initial government expenditure on education as...,2010,2.37,SOURCE: UIS/UOE data,2.37

In [28]:
df2.drop(columns=['Region', 'Target', 'Indicator Number', 'Indicator Name', 'Value', 'Metadata'], inplace=True)

In [29]:
df2.head(1)

,Country,Year,Initial government expenditure on education as a percentage of GDP (%)
0,Guyana,2010,2.37

In [30]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1346 entries, 0 to 1345
Data columns (total 3 columns):
 #   Column                                                                  Non-Null Count  Dtype
---  ------                                                                  --------------  -----
 0   Country                                                                 1346 non-null   object
 1   Year                                                                    1346 non-null   int64
 2   Initial government expenditure on education as a percentage of GDP (%)  1346 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 31.7+ KB

### Initial private expenditure on education (household) as a percentage of GDP (%)

In [33]:
df3.head()

,Region,Country,Target,Indicator Number,Indicator Name,Year,Value,Metadata
0,SDG: Sub-Saharan Africa,Mali,4.5,4.5.6,Initial private expenditure on education (hous...,2010,0.39,SOURCE: UIS/UOE data QUALIFIER: This data poin...
1,SDG: Latin America and the Caribbean,Mexico,4.5,4.5.6,Initial private expenditure on education (hous...,2010,1.13,SOURCE: OECD data
2,SDG: Latin America and the Caribbean,Cuba,4.5,4.5.6,Initial private expenditure on education (hous...,2010,0.12,SOURCE: UIS/UOE data
3,SDG: Europe and Northern America,Slovakia,4.5,4.5.6,Initial private expenditure on education (hous...,2010,0.76,SOURCE: UIS/UOE data
4,SDG: Sub-Saharan Africa,Niger,4.5,4.5.6,Initial private expenditure on education (hous...,2010,0.38,SOURCE: UIS/UOE data

In [34]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 590 entries, 0 to 589
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Region            590 non-null    object
 1   Country           590 non-null    object
 2   Target            590 non-null    float64
 3   Indicator Number  590 non-null    object
 4   Indicator Name    590 non-null    object
 5   Year              590 non-null    int64
 6   Value             590 non-null    float64
 7   Metadata          549 non-null    object
dtypes: float64(2), int64(1), object(5)
memory usage: 37.0+ KB

In [36]:
df3['Indicator Name'].unique()

array(['Initial private expenditure on education (household) as a percentage of GDP (%)'],
      dtype=object)

In [37]:
# change name of value column

df3['Initial private expenditure on education (household) as a percentage of GDP (%)'] = df3['Value']

In [38]:
df3.drop(columns=['Region', 'Target', 'Indicator Number', 'Indicator Name', 'Value', 'Metadata'], inplace=True)

In [39]:
df3.head(1)

,Country,Year,Initial private expenditure on education (household) as a percentage of GDP (%)
0,Mali,2010,0.39

In [40]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 590 entries, 0 to 589
Data columns (total 3 columns):
 #   Column                                                                           Non-Null Count  Dtype
---  ------                                                                           --------------  -----
 0   Country                                                                          590 non-null    object
 1   Year                                                                             590 non-null    int64
 2   Initial private expenditure on education (household) as a percentage of GDP (%)  590 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 14.0+ KB

### Initial private expenditure on education (other non-educational private entities) as a percentage of GDP (%)

In [47]:
df4.head()

,Region,Country,Target,Indicator Number,Indicator Name,Year,Value,Metadata
0,SDG: Europe and Northern America,Austria,4.5,4.5.6,Initial private expenditure on education (othe...,2010,0.30,SOURCE: UIS/UOE data
1,SDG: Latin America and the Caribbean,Colombia,4.5,4.5.6,Initial private expenditure on education (othe...,2010,0.01,SOURCE: UIS/UOE data
2,SDG: Europe and Northern America,Denmark,4.5,4.5.6,Initial private expenditure on education (othe...,2010,0.08,SOURCE: UIS/UOE data
3,SDG: Latin America and the Caribbean,Dominica,4.5,4.5.6,Initial private expenditure on education (othe...,2010,0.00,SOURCE: UIS/UOE data Magnitude NIL
4,SDG: Northern Africa and Western Asia,Israel,4.5,4.5.6,Initial private expenditure on education (othe...,2010,0.48,SOURCE: UIS/UOE data

In [48]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 494 entries, 0 to 493
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Region            494 non-null    object
 1   Country           494 non-null    object
 2   Target            494 non-null    float64
 3   Indicator Number  494 non-null    object
 4   Indicator Name    494 non-null    object
 5   Year              494 non-null    int64
 6   Value             494 non-null    float64
 7   Metadata          494 non-null    object
dtypes: float64(2), int64(1), object(5)
memory usage: 31.0+ KB

In [49]:
df4['Indicator Name'].unique()

array(['Initial private expenditure on education (other non-educational private entities) as a percentage of GDP (%)'],
      dtype=object)

In [50]:
# change name of value column

df4['Initial private expenditure on education (other non-educational private entities) as a percentage of GDP (%)'] = df4['Value']

In [51]:
df4.drop(columns=['Region', 'Target', 'Indicator Number', 'Indicator Name', 'Value', 'Metadata'], inplace=True)

In [53]:
df4.head(1)

,Country,Year,Initial private expenditure on education (other non-educational private entities) as a percentage of GDP (%)
0,Austria,2010,0.3

In [54]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 494 entries, 0 to 493
Data columns (total 3 columns):
 #   Column                                                                                                        Non-Null Count  Dtype
---  ------                                                                                                        --------------  -----
 0   Country                                                                                                       494 non-null    object
 1   Year                                                                                                          494 non-null    int64
 2   Initial private expenditure on education (other non-educational private entities) as a percentage of GDP (%)  494 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 11.7+ KB

### Expenditure on education (public, private, international) as a percentage of GDP

In [56]:
df5.head()

,Region,Country,Target,Indicator Number,Indicator Name,Year,Value,Metadata
0,SDG: Europe and Northern America,Portugal,4.5,4.5.6,"Expenditure on education (public, private, int...",2010,5.93,SOURCE: UIS estimate based on data available f...
1,SDG: Europe and Northern America,United Kingdom of Great Britain and Northern I...,4.5,4.5.6,"Expenditure on education (public, private, int...",2010,7.34,SOURCE: UIS estimate based on data available f...
2,SDG: Europe and Northern America,Ireland,4.5,4.5.6,"Expenditure on education (public, private, int...",2010,6.50,SOURCE: UIS estimate based on data available f...
3,SDG: Europe and Northern America,Iceland,4.5,4.5.6,"Expenditure on education (public, private, int...",2010,7.63,SOURCE: UIS estimate based on data available f...
4,SDG: Latin America and the Caribbean,Guyana,4.5,4.5.6,"Expenditure on education (public, private, int...",2010,2.54,SOURCE: UIS estimate based on data available f...

In [55]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255 entries, 0 to 254
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Region            255 non-null    object
 1   Country           255 non-null    object
 2   Target            255 non-null    float64
 3   Indicator Number  255 non-null    object
 4   Indicator Name    255 non-null    object
 5   Year              255 non-null    int64
 6   Value             255 non-null    float64
 7   Metadata          255 non-null    object
dtypes: float64(2), int64(1), object(5)
memory usage: 16.1+ KB

In [57]:
df5['Indicator Name'].unique()

array(['Expenditure on education (public, private, international) as a percentage of GDP'],
      dtype=object)

In [58]:
# change name of value column

df5['Expenditure on education (public, private, international) as a percentage of GDP'] = df5['Value']

In [59]:
df5.drop(columns=['Region', 'Target', 'Indicator Number', 'Indicator Name', 'Value', 'Metadata'], inplace=True)

In [60]:
df5.head(1)

,Country,Year,"Expenditure on education (public, private, international) as a percentage of GDP"
0,Portugal,2010,5.93

In [61]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255 entries, 0 to 254
Data columns (total 3 columns):
 #   Column                                                                            Non-Null Count  Dtype
---  ------                                                                            --------------  -----
 0   Country                                                                           255 non-null    object
 1   Year                                                                              255 non-null    int64
 2   Expenditure on education (public, private, international) as a percentage of GDP  255 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 6.1+ KB

### Expenditure on education (public, households, ODA) as a percentage of GDP

In [79]:
df6.head()

,Region,Country,Target,Indicator Number,Indicator Name,Year,Value,Metadata
0,SDG: Europe and Northern America,Sweden,4.5,4.5.6,"Expenditure on education (public, households, ...",2010,6.52,SOURCE: UIS estimate based on data available f...
1,SDG: Europe and Northern America,Belgium,4.5,4.5.6,"Expenditure on education (public, households, ...",2010,7.07,SOURCE: UIS estimate based on data available f...
2,SDG: Sub-Saharan Africa,Burundi,4.5,4.5.6,"Expenditure on education (public, households, ...",2010,8.16,SOURCE: UIS estimate based on data available f...
3,SDG: Latin America and the Caribbean,Paraguay,4.5,4.5.6,"Expenditure on education (public, households, ...",2010,4.76,SOURCE: UIS estimate based on data available f...
4,SDG: Europe and Northern America,Slovenia,4.5,4.5.6,"Expenditure on education (public, households, ...",2010,6.16,SOURCE: UIS estimate based on data available f...

In [80]:
df6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Region            503 non-null    object
 1   Country           503 non-null    object
 2   Target            503 non-null    float64
 3   Indicator Number  503 non-null    object
 4   Indicator Name    503 non-null    object
 5   Year              503 non-null    int64
 6   Value             503 non-null    float64
 7   Metadata          503 non-null    object
dtypes: float64(2), int64(1), object(5)
memory usage: 31.6+ KB

In [81]:
df6['Indicator Name'].unique()

array(['Expenditure on education (public, households, ODA) as a percentage of GDP'],
      dtype=object)

In [82]:
# change name of value column

df6['Expenditure on education (public, households, ODA) as a percentage of GDP'] = df6['Value']

In [83]:
df6.drop(columns=['Region', 'Target', 'Indicator Number', 'Indicator Name', 'Value', 'Metadata'], inplace=True)

In [84]:
df6.head(1)

,Country,Year,"Expenditure on education (public, households, ODA) as a percentage of GDP"
0,Sweden,2010,6.52

In [85]:
df6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 3 columns):
 #   Column                                                                     Non-Null Count  Dtype
---  ------                                                                     --------------  -----
 0   Country                                                                    503 non-null    object
 1   Year                                                                       503 non-null    int64
 2   Expenditure on education (public, households, ODA) as a percentage of GDP  503 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 11.9+ KB

### next

In [86]:
df7.head()

,Region,Country,Target,Indicator Number,Indicator Name,Year,Value,Metadata
0,SDG: Sub-Saharan Africa,Sierra Leone,1.a,1.a.2,Expenditure on education as a percentage of to...,2010,12.80,NaN
1,SDG: Europe and Northern America,Estonia,1.a,1.a.2,Expenditure on education as a percentage of to...,2010,16.17,SOURCE: IMF; indicator GEETO_G14_PT: COFOG Fun...
2,SDG: Europe and Northern America,Hungary,1.a,1.a.2,Expenditure on education as a percentage of to...,2010,11.23,SOURCE: IMF; indicator GEETO_G14_PT: COFOG Fun...
3,SDG: Sub-Saharan Africa,Mali,1.a,1.a.2,Expenditure on education as a percentage of to...,2010,16.50,NaN
4,SDG: Latin America and the Caribbean,Brazil,1.a,1.a.2,Expenditure on education as a percentage of to...,2010,13.40,NaN

In [87]:
df7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2021 entries, 0 to 2020
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Region            2021 non-null   object
 1   Country           2021 non-null   object
 2   Target            2021 non-null   object
 3   Indicator Number  2021 non-null   object
 4   Indicator Name    2021 non-null   object
 5   Year              2021 non-null   int64
 6   Value             2021 non-null   float64
 7   Metadata          1486 non-null   object
dtypes: float64(1), int64(1), object(6)
memory usage: 126.4+ KB

In [88]:
df7['Indicator Name'].unique()

array(['Expenditure on education as a percentage of total government expenditure (%)'],
      dtype=object)

In [89]:
# change name of value column

df7['Expenditure on education as a percentage of total government expenditure (%)'] = df7['Value']

In [90]:
df7.drop(columns=['Region', 'Target', 'Indicator Number', 'Indicator Name', 'Value', 'Metadata'], inplace=True)

In [91]:
df7.head(1)

,Country,Year,Expenditure on education as a percentage of total government expenditure (%)
0,Sierra Leone,2010,12.8

In [92]:
df7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2021 entries, 0 to 2020
Data columns (total 3 columns):
 #   Column                                                                        Non-Null Count  Dtype
---  ------                                                                        --------------  -----
 0   Country                                                                       2021 non-null   object
 1   Year                                                                          2021 non-null   int64
 2   Expenditure on education as a percentage of total government expenditure (%)  2021 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 47.5+ KB

### Volume of official development assistance flows for scholarships by sector and type of study, constant US$

In [93]:
df8.head()

,Region,Country,Target,Indicator Number,Indicator Name,Year,Value,Metadata
0,SDG: Latin America and the Caribbean,Belize,4.b,4.b.1,Volume of official development assistance flow...,2010,"120,858.00",SOURCE: Official Development Assistance. Schol...
1,SDG: Eastern and South-Eastern Asia,Cambodia,4.b,4.b.1,Volume of official development assistance flow...,2010,"10,568,186.00",SOURCE: Official Development Assistance. Schol...
2,SDG: Sub-Saharan Africa,South Africa,4.b,4.b.1,Volume of official development assistance flow...,2010,"7,012,275.00",SOURCE: Official Development Assistance. Schol...
3,SDG: Central and Southern Asia,Turkmenistan,4.b,4.b.1,Volume of official development assistance flow...,2010,"927,746.00",SOURCE: Official Development Assistance. Schol...
4,SDG: Oceania,Nauru,4.b,4.b.1,Volume of official development assistance flow...,2010,"375,019.00",SOURCE: Official Development Assistance. Schol...

In [94]:
df8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1844 entries, 0 to 1843
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Region            1844 non-null   object
 1   Country           1844 non-null   object
 2   Target            1844 non-null   object
 3   Indicator Number  1844 non-null   object
 4   Indicator Name    1844 non-null   object
 5   Year              1844 non-null   int64
 6   Value             1844 non-null   object
 7   Metadata          1844 non-null   object
dtypes: int64(1), object(7)
memory usage: 115.4+ KB

In [95]:
df8['Indicator Name'].unique()

array(['Volume of official development assistance flows for scholarships by sector and type of study, constant US$'],
      dtype=object)

In [96]:
# change name of value column

df8['Volume of official development assistance flows for scholarships by sector and type of study, constant US$'] = df8['Value']

In [97]:
df8.drop(columns=['Region', 'Target', 'Indicator Number', 'Indicator Name', 'Value', 'Metadata'], inplace=True)

In [98]:
df8.head(1)

,Country,Year,"Volume of official development assistance flows for scholarships by sector and type of study, constant US$"
0,Belize,2010,"120,858.00"

In [99]:
df8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1844 entries, 0 to 1843
Data columns (total 3 columns):
 #   Column                                                                                                      Non-Null Count  Dtype
---  ------                                                                                                      --------------  -----
 0   Country                                                                                                     1844 non-null   object
 1   Year                                                                                                        1844 non-null   int64
 2   Volume of official development assistance flows for scholarships by sector and type of study, constant US$  1844 non-null   object
dtypes: int64(1), object(2)
memory usage: 43.3+ KB

### Government expenditure on education as a percentage of GDP (%)

In [100]:
df9.head()

,Region,Country,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,SDG: Central and Southern Asia,Afghanistan,3.48,3.46,2.60,3.45,3.70,3.26,4.54,4.34,NaN,NaN,NaN,NaN,NaN,NaN
1,SDG: Central and Southern Asia,Bangladesh,NaN,2.13,2.05,1.97,2.10,1.87,2.22,1.85,1.66,1.68,1.76,1.83,1.97,2.05
2,SDG: Central and Southern Asia,Bhutan,4.12,4.77,NaN,5.72,6.04,6.24,6.34,6.70,6.07,4.76,5.98,6.97,8.14,NaN
3,SDG: Central and Southern Asia,India,3.38,3.80,4.08,3.84,3.90,4.12,4.26,4.31,4.38,3.90,4.29,4.63,NaN,NaN
4,SDG: Central and Southern Asia,Iran (Islamic Republic of),3.71,3.48,2.94,2.85,2.62,2.63,3.17,3.46,3.62,3.26,3.20,NaN,2.67,NaN

In [101]:
df9.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192 entries, 0 to 191
Data columns (total 16 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Region   192 non-null    object
 1   Country  191 non-null    object
 2   2010     147 non-null    float64
 3   2011     154 non-null    float64
 4   2012     165 non-null    float64
 5   2013     165 non-null    float64
 6   2014     169 non-null    float64
 7   2015     172 non-null    float64
 8   2016     169 non-null    float64
 9   2017     173 non-null    float64
 10  2018     169 non-null    float64
 11  2019     166 non-null    float64
 12  2020     163 non-null    float64
 13  2021     156 non-null    float64
 14  2022     108 non-null    float64
 15  2023     17 non-null     float64
dtypes: float64(14), object(2)
memory usage: 24.1+ KB

In [102]:
df9.isnull().mean() * 100

Region      0.000000
Country     0.520833
2010       23.437500
2011       19.791667
2012       14.062500
2013       14.062500
2014       11.979167
2015       10.416667
2016       11.979167
2017        9.895833
2018       11.979167
2019       13.541667
2020       15.104167
2021       18.750000
2022       43.750000
2023       91.145833
dtype: float64

In [103]:
# drop irrelevant columns and columns with over 30% null values

df9.drop(columns=['Region', '2022', '2023'], inplace=True)

In [104]:
df9.head()

,Country,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Afghanistan,3.48,3.46,2.60,3.45,3.70,3.26,4.54,4.34,NaN,NaN,NaN,NaN
1,Bangladesh,NaN,2.13,2.05,1.97,2.10,1.87,2.22,1.85,1.66,1.68,1.76,1.83
2,Bhutan,4.12,4.77,NaN,5.72,6.04,6.24,6.34,6.70,6.07,4.76,5.98,6.97
3,India,3.38,3.80,4.08,3.84,3.90,4.12,4.26,4.31,4.38,3.90,4.29,4.63
4,Iran (Islamic Republic of),3.71,3.48,2.94,2.85,2.62,2.63,3.17,3.46,3.62,3.26,3.20,NaN

In [144]:
dfx = df9.melt(id_vars=['Country'], var_name= 'Year', value_name="Government expenditure on education as a percentage of GDP (%)")

In [145]:
dfx.head(2)

,Country,Year,Government expenditure on education as a percentage of GDP (%)
0,Afghanistan,2010,3.48
1,Bangladesh,2010,NaN

In [113]:
dfx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2304 entries, 0 to 2303
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  2292 non-null   object
 1   Year     2304 non-null   object
 2   % gdp    1968 non-null   float64
dtypes: float64(1), object(2)
memory usage: 54.1+ KB

In [105]:
df1.shape, df2.shape, df3.shape, df4.shape, df5.shape, df6.shape, df7.shape, df8.shape, df9.shape

((451, 3),
 (1346, 3),
 (590, 3),
 (494, 3),
 (255, 3),
 (503, 3),
 (2021, 3),
 (1844, 3),
 (192, 13))